@import './variables.scss';

body {
	background-color: rgba(245, 245, 245, 0.5);
}

pre {
	background-color: $color__gray--primary;
	padding: 0.5rem;
}

a {
	font-weight: 700;
	color: $color__darkgray--darker;
	position: relative;
	    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII=) repeat-x 100% 100%;
	    text-decoration: none;


 	&:hover, &:visited {
 		color: $color__darkgray--primary;
 	}
 	&:active {
 		color: $color__darkgray--darker;
 	}
}

blockquote {
	background-color: $color__gray--primary;
	border-left: thick solid $color__gray--darkest;

	& * {
		padding: 0.5rem;
	}
}

b, strong {
	font-weight: 700;
}

.button {
	border: 0.125rem solid $color__gray--primary;
	display: inline-block;
	border-radius: 0.25rem;
	text-align: center;
	@include text($font--role-default, 1rem, 400);
	padding: 0.5rem;
	cursor: pointer;
	background-color: #fff;
	color: $color__text--primary;
	transition: background-color 0.2s, border-color 0.2s, filter 0.2s;
	outline: none;

	&:hover {
		background-color: $color__lightgray--primary;
		border-color: $color__gray--darker;
	}
	&:active {
		background-color: $color__lightgray--darker;
		border-color: $color__gray--darkest;
	}

	@at-root #{&}__icon {
	}

	@at-root #{&}--borderless {
		border: 0;
	}

	@at-root #{&}--modal {
		padding: 0.25rem 0.5rem;
		font-size: 0.8rem;
		float: right;
		margin-bottom: 1rem;

		&:last-child {
			margin-right: 0.5rem;
		}
	}

	@at-root #{&}--disabled {
		position: relative;
		pointer-events: none;

		@include user-select(none);

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(240, 240, 240, 0.4);
		}
	}

	@at-root #{&}--orange {
		border-color: $color__orange--primary;
		&:hover { border-color: $color__orange--darker; }
		&:active { border-color: $color__orange--darkest; }
	}
	@at-root #{&}--lightblue {
		border-color: $color__lightblue--primary;
		&:hover { border-color: $color__blue--primary; }
		&:active { border-color: $color__blue--darker; }
	}

	@mixin filled_button($background, $border, $text: #fff) {
		background-color: $background;
		border-color: $border;
		color: $text;
		
		&:hover {
			background-color: $background;
			border-color: $border;
			color: #fff;
			filter: brightness(0.9);
		}
		&:active {
			background-color: $background;
			border-color: $border;
			color: #fff;
			filter: brightness(0.8);
		}
	}
	@at-root #{&}--blue {
		@include filled_button(
			$color__blue--primary,
			$color__blue--darker
		);
	}
	@at-root #{&}--green {
		@include filled_button($color__green--primary, $color__green--darker);
	}
	@at-root #{&}--red {
		@include filled_button($color__red--primary, $color__red--darker);
	}
}

.input {
	border: 0.125rem solid $color__gray--primary;
	border-radius: 0.25rem;
	@include text;
	padding: 0.25rem;
	outline: none;

	&:hover {
		border-color: $color__gray--darker;
	}
	&:focus {
		border-color: $color__gray--darkest;
	}
}

.h1 {
	@include text($font--role-default, 3rem);
}
.h3 {
	@include text($font--role-default, 1.5rem);
	font-weight: 500;

	@at-root #{&}--margin_top {
		margin-top: 1.5rem;
	}
}

.p--condensed {
	margin-top: 0.25rem;
}