
$font--role-default: 'Lato', sans-serif;
$font--role-emphasis: 'Montserrat', sans-serif;

$color__text--primary: rgba(0, 0, 0, 0.87);
$color__text--secondary: rgba(0, 0, 0, 0.54);

$color__lightgray--primary: #F5F5F5;
$color__lightgray--darker: #EEEEEE;
$color__lightgray--darkest: #E0E0E0;

$color__gray--primary: #EEEEEE;
$color__gray--darker: #E0E0E0;
$color__gray--darkest: #BDBDBD;

$color__darkgray--primary: #757575;
$color__darkgray--darker: #525252;
$color__darkgray--darkest: #424242;

$color__orange--primary: #F57C00;
$color__orange--darker: #EF6C00;
$color__orange--darkest: #de621c;

$color__green--primary: rgba(76, 175, 80, 0.86);
$color__green--darker: #43A047;
$color__green--darkest: #1B5E20;
$color__green--darkester: rgba(79, 152, 82, 0.84);


@mixin text($family: $font--role-default, $size: 1rem, $weight: 300) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
}

@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}

@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}

	@include optional-at-root(':-moz-placeholder') {
		@content;
	}

	@include optional-at-root('::-moz-placeholder') {
		@content;
	}

	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}
}

@mixin user-select($select) {
	@each $pre in -webkit-, -moz-, -ms-, -o- {
		#{$pre + user-select}: #{$select};
	}
	#{user-select}: #{$select};
}